:root {
    --fw-400: 400;
    --fw-700: 700;
    --fs-sm: 13px;
    --fs-md: 22px;
    --fs-lg: 61px;
    --lh-sm: 29.96px;
    --lh-md:83.08px;
    --fc-white:white;
    --fc-darkblue:#023DA0;
    --fc-grey:#525252;
    --fc-orange:#F88011;
}
@media (max-width:1026px) {
     :root{
         --fs-lg: 58px;
         --lh-83:83.08px
     }
}
@media (max-width:768px) {
     :root{
         --fs-lg: 55px;
         --lh-sm:83.08px
     }
}
@media (max-width:768px) {
     :root{
         --fs-lg: 50px;
         --lh-sm:83.08px
     }
}
@media (max-width:604px) {
     :root{
         --fs-lg: 40px;
         --fs-md: 18px;
         --lh-sm:55px
     }
}
@media (max-width:407px) {
     :root{
         --fs-lg: 25px;
         --fs-md: 15px;
         --lh-sm:40px
     }
}