:root {
    --fw-400: 400;
    --fw-700: 700;
    --fs-13: 13px;
    --fs-22: 22px;
    --fs-61: 61px;
    --lh-83:83.08px;
    --fc-white:white;
    --fc-darkblue:#023DA0;
}
@media (max-width:1026px) {
     :root{
         --fs-61: 58px;
         --lh-83:83.08px
     }
}
@media (max-width:768px) {
     :root{
         --fs-61: 55px;
         --lh-83:83.08px
     }
}
@media (max-width:768px) {
     :root{
         --fs-61: 50px;
         --lh-83:83.08px
     }
}
@media (max-width:604px) {
     :root{
         --fs-61: 40px;
         --fs-22: 18px;
         --lh-83:55px
     }
}
@media (max-width:407px) {
     :root{
         --fs-61: 25px;
         --fs-22: 15px;
         --lh-83:40px
     }
}